/tags
/min-caml.top
/min-caml
/*.cmo
/test/*.cmo
/test/*.s
/*.cmi
/parser.ml
/parser.mli
/lexer.ml
/._d/
/._bcdi/
/test/ultrapc/*.s
/test/ultrapc/*.cmo
/build/
/example.ml
.DS_Store
/contest.sld
!/build/.gitkeep
