/tags
/min-caml.top
/min-caml
/*.cmo
/example.s
/test/*.cmo
/test/*.s
/*.cmi
/float.o
/parser.ml
/parser.mli
/lexer.ml
/._d/
/._bcdi/
/example.ml
/example
/example.s
/test/*.s
/test/ultrapc/*.s
/minrt.s
